body {
    --body-color: #f0f2f5;
    background-color: var(--body-color)!important;}


.back-white{
    background-color: white;
    
}
.linkAbout {
 color: #000;
 font-size: 32px;
 font-weight: 600;
 text-decoration: none;
 padding: 10px;
}
.linkAbout:hover{
    color: #000;
    text-decoration:underline;
}

/***************************************************************************************************/
@media screen and (max-width:992px) {

    .div-about {
        margin: 0 !important;
    }

}








.bb {
    background-color: aqua;
    height: 400px;
}

.dd {
    background-color: bisque;
    height: 400px;
}